In This Notebook ,I am going to explain basic Python concepts with example.

**1.1: Numbers:   
                Number can be any interger ,float or complex number.**

In [1]:
a=5
print("Type of variable {}  is  ".format(a),type(a))  # variable can be  integer/Float/Complex number and using type function we can check it.
b=5.0
print("Type of variable {}  is  ".format(b),type(b))
c=5+3j
print("Type of variable {}  is  ".format(c),type(c))

Type of variable 5  is   <class 'int'>
Type of variable 5.0  is   <class 'float'>
Type of variable (5+3j)  is   <class 'complex'>

**1.2: Strings:    
Sequence of character represented with ' '(single quotes) or " "(double quotes).**

In [2]:
a="Ritesh's"                                        # Here we are using double quotes to represent string .If we use single quote here then we will get error
b='Prasad'                                          # Here we are using single quotes to represent string
print(a+" "+b)
print("Type of variable a is  ",type(a))
print("Type of variable b is  ",type(b))

Ritesh's Prasad
Type of variable a is   <class 'str'>
Type of variable b is   <class 'str'>

**1.3: Lists:   
List data type is collection of items .list can contain items of any data type.**

In [3]:
list1=[1,2,3,4,5,'Ritesh']                                     # Within list we can add items of any data type 
list2=[{'A':'Ritesh'},'Rakesh',23,56,[22,23,'Prasad']]         # We can add dictionary,list within list ,integer,string 
print(list1)
print("Data Type of {} is   ".format(list1),type(list1))
print(list2)
print("Data Type of {} is   ".format(list2),type(list2))

[1, 2, 3, 4, 5, 'Ritesh']
Data Type of [1, 2, 3, 4, 5, 'Ritesh'] is    <class 'list'>
[{'A': 'Ritesh'}, 'Rakesh', 23, 56, [22, 23, 'Prasad']]
Data Type of [{'A': 'Ritesh'}, 'Rakesh', 23, 56, [22, 23, 'Prasad']] is    <class 'list'>

**1.4: Boolean:     
Boolean Data Type has Two values True or False**

In [4]:
a=5
b=10
print(a>b)
if a>b:                                   # Here a> b means 5>10 which is false so else loop will execute
    print("{} is greater than {}".format(a,b))
else:
    print("{} is smaller than {}".format(a,b))

False
5 is smaller than 10

 
Write an equation that uses multiplication, division, an exponent, addition, and subtraction that is equal to 100.25. Use all the mentioned operators in one single equation to produce the result.

Hint: This is just to test your memory of the basic arithmetic commands, work backwards from 100.25

In [5]:
#100.25=2*10**2/2+1-0.75
print(2*10**2/2+1-0.75)

100.25


Answer these 3 questions without typing code. Then type code to check your answer.

    What is the value of the expression 4 * (6 + 5) =44
    
    What is the value of the expression 4 * 6 + 5 =29
    
    What is the value of the expression 4 + 6 * 5 =34

In [6]:
a=4 * (6 + 5)
b=4 * 6 + 5
c=4 + 6 * 5                                                          # We are following BODMAS Rule here
print("The value of equation    4 * (6 + 5)   is  ", a)
print("The value of equation    4 * 6 + 5     is  ", b)
print("The value of equation    4 + 6 * 5     is  ", c)

The value of equation    4 * (6 + 5)   is   44
The value of equation    4 * 6 + 5     is   29
The value of equation    4 + 6 * 5     is   34



#### Question 2.3 : 
What is the *type* of the result of the expression 3 + 1.5 + 4?<br><br>

In [7]:
b=3 + 1.5 + 4        #using type function we can easily get the type of output we are getting
print("After computation of given expression the output is {} and its type is  ".format(b),type(b))

After computation of given expression the output is 8.5 and its type is   <class 'float'>

#### Question 2.4 : 
What would you use to find a numberâ€™s square root, as well as its square? **Important: Do not of import any packages like Math to  solve this question.**

In [8]:
# Square root:
num1=81                                                      
#square root of any number can be calculated using number ** (1/2)
print("Square root of num  {}  is  ".format(num1) , num1**(1/2))

Square root of num  81  is   9.0

In [9]:
# Square:

num2=12
#square of any number can be calculated using number ** 2
print("Square of num  {}  is  ".format(num2) , num2**2)

Square of num  12  is   144

### Question 3: Strings

#### Question 3.1:
Given the string 'hello' give an index command that returns 'e'. Enter your code in the cell below:

In [10]:
s = 'hello'
# Print out 'e' using indexing
#string indexing start from 0 ,so e will be at index 1 
print (s[1])

e

#### Question 3.2:
Reverse the string 'hello' using slicing:

In [11]:
s ='hello'
# Reverse the string using slicing
#last index of string is -1 
print(s[::-1])

olleh

#### Question 3.3:
Given the string hello, give two methods of producing the letter 'o' using indexing.

In [12]:
s ='hello'
# Print out the 'o'
#last index of string is -1 
# Method 1:
print(s[-1])

o

In [13]:
# Method 2:
# index of string starts with 0 
print(s[4])

o

### Question 4: Lists

#### Question 4.1: 
Build this list [0,0,0] two separate ways.

In [14]:
# Method 1:
list1=[0,0,0]
print(list1)

[0, 0, 0]

In [15]:
# Method 2:
list2=[]
for i in range(0,3):
    list2.append(0)
print(list2)

[0, 0, 0]

#### Question 4.2:
Reassign 'hello' in this nested list to say 'goodbye' instead:

In [16]:
list3 = [1,2,[3,4,'hello']]

In [17]:
# index of list starts from 0 ,so navigate to 'hello' and replace it with 'goodbye'
list3[2][2]='goodbye'
print(list3)

[1, 2, [3, 4, 'goodbye']]

#### Question 4.3:
Sort the list below:

In [18]:
list4 = [5,3,4,6,1]

In [19]:
list4.sort()      #sort function will sort the given list
print(list4)

[1, 3, 4, 5, 6]

### Question 5: Booleans

For the following quiz questions, we will get a preview of comparison operators. In the table below, a=3 and b=4.

<table class="table table-bordered">
<tr>
<th style="width:10%">Operator</th><th style="width:45%">Description</th><th>Example</th>
</tr>
<tr>
<td>==</td>
<td>If the values of two operands are equal, then the condition becomes true.</td>
<td> (a == b) is not true.</td>
</tr>
<tr>
<td>!=</td>
<td>If values of two operands are not equal, then condition becomes true.</td>
<td> (a != b) is true.</td>
</tr>
<tr>
<td>&gt;</td>
<td>If the value of left operand is greater than the value of right operand, then condition becomes true.</td>
<td> (a &gt; b) is not true.</td>
</tr>
<tr>
<td>&lt;</td>
<td>If the value of left operand is less than the value of right operand, then condition becomes true.</td>
<td> (a &lt; b) is true.</td>
</tr>
<tr>
<td>&gt;=</td>
<td>If the value of left operand is greater than or equal to the value of right operand, then condition becomes true.</td>
<td> (a &gt;= b) is not true. </td>
</tr>
<tr>
<td>&lt;=</td>
<td>If the value of left operand is less than or equal to the value of right operand, then condition becomes true.</td>
<td> (a &lt;= b) is true. </td>
</tr>
</table>

### Question 5.1:
What will be the resulting Boolean of the following pieces of code (answer fist then check by typing it in!)

In [20]:
# Answer before running cell
2 > 3

False

In [21]:
# Answer before running cell
3 <= 2

False

In [22]:
# Answer before running cell
3 == 2.0

False

In [23]:
# Answer before running cell
3.0 == 3

True

In [24]:
# Answer before running cell
4**0.5 != 2

False

### Question 5.2:
What is the boolean output of the cell block below?

**Important:** The code should be well commented, explaining your approach & how you have implemented it.

In [25]:
# two nested lists
l_one = [1,2,[3,4]]  
l_two = [1,2,{'k1':4}]

# True or False?
l_one[2][0] >= l_two[2]['k1']

# Output of l_one[2] is [3,4]  so the output for   l_one[2][0] will be 3
# Output of l_two[2] is {'k1':4} ,so the output for l_two[2]['k1'] will be value of key 'k1' which is 4

False

### Question 6: Programming Assignment

#### Question 6.1: 
Find you manager salary ?
Let say your HR informed you that your manager is earning double of square of your salary. Can you write python expression to figure out your manager salary? Assume your own salary is Rupees 10,000.

**Important** Attempt this question without using loops.

In [26]:
my_salary=10000
manager_salary=(my_salary**2)*2  #my_salary**2 will give  square of my salary and then this will be multipled by 2 to generate double of square of my salary

print("My manager slary is  ",manager_salary ,"Rs")

My manager slary is   200000000 Rs

#### Question 6.2:
Let say, you have to find out your manager's salary US dollars. Assume, US dollar is 70 Rs INR. Compute your manager's salary in US dollars by writing a python expression. 

**Important:** The code should be well commented, explaining your approach & how you have implemented it.

In [27]:
my_salary=10000
dollar=70
manager_salary=((my_salary**2)*2)/70       #my_salary**2 will give  square of my salary and then this will be multipled by 2 to generate double of square of my salary 
                                            #and divided by dollar value to compute manager salary in  Dollar

print("My manager slary is  ",manager_salary ,"$")

My manager slary is   2857142.8571428573 $

#### Question 6.3:
You have to store salaries of 5 employees in a List. Let say, the salaries of those 5 employees are stored in order of their joining date. Now, the employee who joined first (i.e the employee who joined before the other 4 employees) resigned and left the company. And, a new person joins the company with the same salary as the person who resigned. 

Your manager has asked you to provide him the average salary of all the employees. ( Make sure to use index).

Perform all above steps in python.

**Important:** The code should be well commented, explaining your approach & how you have implemented it.

In [28]:
#lets create a list and store salaries of 5 employee
list1=[100000,134555,231111,111111,99999]

#now 1st employee left the organization
list1.pop(0)
#now the list value is list1 [134555, 231111, 111111, 99999]

#A new employee joins the organization with salary 100000

#As we are maintaining salary according to Date of Joining ,so we will add new employee salary at the end of list 
list1.append(100000)
#now the list value is list1 [134555, 231111, 111111, 99999,100000]
#average =sum of items/num of items
#Using for loop we call calculate average
count=0
sum=0
avg=0
for i in list1:
    sum+=i
    count+=1
avg=sum/count

print("Average salary of all the employees is ",avg)

Average salary of all the employees is  135355.2

#### Question 6.4:
Write a python code to return string in reverse with skipping of 1 character and making the first letter of the reversed srting in upper case as shown in the example. You can use the string/word you like.

           Example : Ritesh
    Desired Output : Hei

In [34]:
str1="Ritesh"
out=str1[::-2]   #this will reverse the string and print character by hopping 2 steps
#we can use title function or capitalize function to make first letter upper case
print(out.capitalize())

Hei

## Great Job on your first assessment!